<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
      .vl {
        border-left: 3px solid #000080;
        height: 130px;
        margin: 5px;
      }

      .v2 {
        border-left: 3px solid #000080;
        height: 230px;
        margin: 5px;
      }
    </style>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-12 container">
          <div class="con1">
            <div style="margin-right: 5px" class="con5">
              <div class="icon">
                <i
                  class="material-icons"
                  style="font-size: 50px; color: #000080"
                  >person_outline</i
                >
              </div>
              <p>Profile</p>
            </div>
            <div class="main">
              <div>
                <h1>COROLINE THAMPSON</h1>
                <p>ART DIRECTOR</p>
              </div>
              <div class="vl">
                <div class="addres">
                  <p>
                    Advertising compaigns are my forte. i have been in the
                    insdudtry 6 years.
                  </p>
                  <p>
                    Adress: Los Angles,california <br />
                    Phone:(+87)8919864951<br />
                    Website: carolinethamson@gmail.com
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div>
            <hr color="#000080" style="width: 470px" align="right" />
          </div>

          <div class="con2">
            <div style="margin-right: 5px" class="con5">
              <div class="icon">
                <i
                  class="material-icons"
                  style="font-size: 50px; color: #000080"
                  >card_travel</i
                >
              </div>
              <p>Work</p>
            </div>
            <div>
              <div class="work1">
                <p class="addres">2022-2023</p>
                <div>
                  <p style="font-weight: bold">
                    Creative minds design studio california seniour art director
                  </p>
                  <p>Generating and developing ideas to pleasent to client</p>
                </div>
              </div>
              <div class="work1">
                <p class="addres">2021-2022</p>
                <div>
                  <p style="font-weight: bold">
                    Mega Giants Publishing and Studio-Juniour Art Director
                  </p>
                  <p>
                    Working on design to produce an effective advertising capign
                  </p>
                </div>
              </div>
              <div class="work1">
                <p class="addres">2020-2021</p>
                <div>
                  <p style="font-weight: bold">
                    Big Ideas-Assistant Art Director
                  </p>
                  <p>
                    Commissioning specialist such as articts,to work pn projects
                  </p>
                </div>
              </div>
            </div>
          </div>
          <hr color="#000080" style="width: 470px" align="right" />
          <div class="skill">
            <div style="margin-right: 5px" class="con5">
              <div class="icon">
                <i
                  class="material-icons"
                  style="font-size: 50px; color: #000080"
                  >fact_check</i
                >
              </div>
              <p>skills awards</p>
            </div>
            <div>
              <div class="skill1">
                <p>ui/ux</p>
              </div>
              <div class="skill1">
                <p>growth marketing</p>
              </div>
              <div class="skill1">
                <p>typography</p>
              </div>
              <div class="skill1">
                <p>video production</p>
              </div>
              <div class="skill1">
                <p>print design</p>
              </div>
            </div>
            <div class="dot">
              <p>...</p>
              <p>.....</p>
              <p>...</p>
              <p>..</p>
              <p>...</p>
            </div>
            <div class="v2">
              <div class="skill2 addres">
                <p style="margin-right: 10px">2019</p>
                <div>
                  <p style="font-weight: bold">suiton design Awards</p>
                  <p>10 graphic designer</p>
                </div>
              </div>
              <div class="skill2 addres">
                <p style="margin-right: 10px">2019</p>
                <div>
                  <p style="font-weight: bold">Graphic London Award</p>
                  <p>Winning Entry:Poster Design</p>
                </div>
              </div>
              <div class="skill2 addres">
                <p style="margin-right: 10px">2019</p>
                <div>
                  <p style="font-weight: bold">LA Creatives Award</p>
                  <p>Winning Entry:Ad Campign</p>
                </div>
              </div>
            </div>
          </div>
          <hr color="#000080" style="width: 470px" align="right" />
          <div class="work">
            <div style="margin-right: 5px" class="con5">
              <div class="icon">
                <i
                  class="material-icons"
                  style="font-size: 50px; color: #000080"
                  >lightbulb_outline</i
                >
              </div>
              <p>interests</p>
            </div>
            <div class="work1">
              <div class="con5">
                <div class="icon-container">
                  <i
                    class="material-icons"
                    style="font-size: 45px; color: #ff8080"
                    >desktop_windows</i
                  >
                </div>
                <p>internet</p>
              </div>
              <div class="con5">
                <div class="icon-container">
                  <i
                    class="material-icons"
                    style="font-size: 45px; color: #ff8080"
                    >create</i
                  >
                </div>

                <p>sketching</p>
              </div>
              <div class="con5">
                <div class="icon-container">
                  <i
                    class="material-icons"
                    style="font-size: 45px; color: #ff8080"
                    >computer</i
                  >
                </div>
                <p>Movies</p>
              </div>
              <div class="con5">
                <div class="icon-container">
                  <i
                    class="material-icons"
                    style="font-size: 45px; color: #ff8080"
                    >mic_none</i
                  >
                </div>

                <p>Music</p>
              </div>
            </div>
          </div>
          <hr color="#000080" style="width: 470px" align="right" />
          <div class="edu">
            <div style="margin-right: 5px" class="con5">
              <div class="icon">
                <i
                  class="material-icons"
                  style="font-size: 50px; color: #000080"
                  >school</i
                >
              </div>
              <p>education</p>
            </div>
            <div>
              <div class="edu1">
                <p style="margin-right: 20px">2016-2019</p>
                <div>
                  <p style="font-weight: bold">
                    Alabhama college of design and technology cum-laude
                  </p>
                  <p>Bacholers of fine arts Major In advertising</p>
                </div>
              </div>
              <div class="edu1">
                <p style="margin-right: 20px">2013-2016</p>
                <div>
                  <p style="font-weight: bold">
                    Helana All girls Senious High School
                  </p>
                  <p>President of art and design club</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
